In [1]:
#alle imports
import folium
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
from urllib.request import urlopen
import json

In [2]:
df = pd.read_csv('laadpaaldata.csv')
df

,Started,Ended,TotalEnergy,ConnectedTime,ChargeTime,MaxPower
0,2018-01-01 08:45:26,2018-01-01 09:16:45,1830,0.52190,0.52190,3524
1,2018-01-01 11:26:40,2018-01-01 14:36:13,28641,3.15920,2.30560,13680
2,2018-01-01 12:39:28,2018-01-01 20:58:10,65534,8.31170,8.31170,11200
3,2018-01-01 14:26:58,2018-01-02 06:36:55,10080,16.16580,4.30060,3360
4,2018-01-01 14:50:05,2018-01-01 17:21:50,7180,2.52920,2.06560,3758
...,...,...,...,...,...,...
10183,2018-12-31 16:25:27,2018-01-01 10:32:33,4300,18.11830,2.32583,3400
10184,2018-12-31 16:54:19,2018-12-31 18:33:33,5880,1.65390,1.65390,3572
10185,2018-12-31 18:29:44,2018-01-01 11:14:15,22020,16.74000,5.75000,4560
10186,2018-12-31 18:35:38,2018-12-31 22:08:37,6939,3.54970,3.25890,3277
10187,2018-12-31 19:34:55,2018-01-01 00:46:04,8713,5.18583,3.00056,3096

In [ ]:
df